*{
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
}

.container{
    max-width: 1000px;
    margin: auto;
    padding: 50px 20px;
    

    background-color: rgb(119, 126, 126);
    
}
section{
    padding: 40px 0px;
}
.titulo{
    text-align: center;
    
        
}
#subtitulo{
    margin-top: 20px;
}

.logo{
    max-width: 400px;
    margin: auto;
    margin-top: 40px;
    padding: 10px;
    aspect-ratio: 1/1;
    
}
.logo img{
    width: 100%;
    border-radius: 12%;
       
}
#introducao h1{
   margin-bottom: 40px; 
   font-size: 30px;
}
#apresentacao h1{
    font-size: 40px;
}
#imagens{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#video{
    width: 100%;
    display: flex;
    justify-content: center;
        
}

#video iframe{
    max-width: 800px;    
    width: 100%;
    aspect-ratio: 16/9;    
}
footer{
    text-align: center;
}